/* FIXME: Refactor all color to design token */
.statusBox {
  width: 210px;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  height: 100%;
}

.statusBox :global(.ant-card-body) {
  height: 100% !important;
}

.statusBox:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.statusBox.active {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
  border: 5px solid rgba(0, 0, 0, 0.4);
}

.statusBox:hover::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  filter: blur(20px);
  opacity: 0.7;
  border-radius: 20px;
  background: inherit;
  transition: all 0.3s ease;
}

.statusBox.active::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  filter: blur(15px);
  opacity: 0.8;
  border-radius: 18px;
  background: inherit;
  transition: all 0.3s ease;
}

.iconWrapper {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.icon {
  font-size: 14px;
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  height: 100%;
  padding: 4px !important;
}

.number {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: white;
  align-self: center;
}

.text {
  font-size: 16px; /* Increased by 30% from 14px */
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  text-align: right;
  padding-top: 24px;
  line-height: 1.1;
}

/* -------------------------------------------- */
.red {
  background: linear-gradient(135deg, #f88379, #ee5253);
}

.blue {
  background: linear-gradient(135deg, #4facfe, #2e86de);
}

.green {
  background: linear-gradient(135deg, #5ed6b3, #26de81);
}

.purple {
  background: linear-gradient(135deg, #c56cf0, #8854d0);
}
.yellow {
  background: linear-gradient(135deg, #f7d156, #fda085);
}
