.preview-container {
  position: relative;
  height: 100%;
  width: 100%;
  .preview-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.preview-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  p {
    margin-top: 16px;
    color: var(--clr-secondary);
    font-size: var(--fs-sm);
  }
}

.preview-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
}

.image-preview-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
  background-color: var(--clr-black-100);
  border-radius: 8px;

  .preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--clr-white-100);
  }
}

.pdf-preview-container {
  height: 100%;
  width: 100%;
  background-color: var(--clr-black-100);
  border-radius: 8px;
  overflow: hidden;

  .preview-pdf {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
  }
}
