/* ------------ Dropdown ------------ */
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content {
  display: block;
}

.ant-dropdown-menu-title-content > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-dropdown-menu-item {
  min-width: 100px;
}

.ant-dropdown-menu-title-content svg {
  height: 14px;
}

.ant-dropdown-menu-item-active svg {
  color: var(--clr-white);
}

.ant-dropdown-menu-item-active {
  background-color: var(--clr-primary) !important;
  border-radius: 0 !important;
  color: var(--fc-secondary) !important;
}

.ant-dropdown-menu {
  padding: var(--gap) 0 !important;
}

/* ------------ Side Menu ------------ */
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline-collapsed .ant-menu-item {
  padding-inline: calc(50% - var(--gap)) !important;
  color: var(--clr-primary) !important;
}

.ant-menu-item {
  margin: 0 !important;
  width: 100% !important;
}

.ant-menu-item .anticon {
  color: var(--clr-primary) !important;
}

.ant-menu-submenu-popup > .ant-menu-sub {
  padding-top: var(--gap) !important;
  padding-bottom: var(--gap) !important;
}

.ant-menu-submenu-popup .ant-menu-item-selected {
  border-radius: 0 !important;
  background-color: var(--clr-primary) !important;
  color: var(--fc-secondary) !important;
}

.ant-menu-submenu-popup .ant-menu-item-selected .anticon {
  color: var(--fc-secondary) !important;
}

/* ------------ Breadcrumb ------------  */
.ant-breadcrumb ol li:last-child {
  color: var(--clr-primary);
}

/* ------------ Collapse ------------ */
.ant-collapse {
  box-shadow: var(--box-shadow);
  border-radius: 12px !important;
}

.ant-collapse-header-text {
  color: var(--clr-white);
  font-size: 20px;
}

.ant-collapse-expand-icon {
  color: var(--clr-white);
  height: 30px !important;
}

.ant-collapse-arrow {
  font-size: 20px !important;
}

/* ------------ Card ------------ */
.ant-card .ant-card-body {
  padding: 8px;
}

.ant-card .ant-card-head {
  padding: 8px;
}

/* ------------ Description ------------ */
.ant-descriptions .ant-descriptions-row > td {
  padding-bottom: 0;
}

/* ------------ Form ------------ */
.ant-checkbox-wrapper span {
  line-height: 1.2;
}

/* ------------ Button ------------ */
.ant-btn-color-primary {
  box-shadow: none !important;
}

.ant-btn-sm {
  height: 26px !important;
}

.ant-table-wrapper .ant-table-row-expand-icon {
  width: 22px !important;
  height: 22px !important;
}

.ant-table-wrapper .ant-table-row-expand-icon::before {
  top: 10px !important;
}

.ant-table-wrapper .ant-table-row-expand-icon::after {
  top: 3px !important;
  bottom: 3px !important;
  left: 10px !important;
}
