.authorize-tabs :global(.ant-tabs-nav) {
  margin-bottom: 0px;
}

.authorize-tabs :global(.ant-tabs-content-holder) {
  padding: 16px;
  background-color: var(--clr-white);
  margin-left: 1px;
  border-radius: 0 8px 8px 8px;
}
