.expired-modal :global(.ant-modal-header) :global(.ant-modal-title) {
  color: var(--clr-red);
  font-size: 1.4rem;
}

.warning-icon {
  color: var(--clr-red);
}

.modal-content {
  padding: var(--gap) 0;
}

.expired-message {
  font-size: var(--fs-base);
  color: var(--clr-black);
  margin-bottom: var(--gutter);
}

.info-text {
  font-size: var(--fs-sm);
  color: var(--clr-black-500);
  margin-bottom: 0;
}
